logic-app/SubmitToPartner/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Parse_Message": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@json(string(coalesce(triggerBody()?[0]?['ContentData'], triggerBody()?[0]?['contentData'], '{}')))",
                    "schema": {
                        "properties": {
                            "PartnerSubmissionId": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {}
            },
            "Get_Partner_XML": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "SELECT top 1 PS.SubmissionId,PX.PartnerDocumentData from EDI.PartnerSubmissions PS\njoin EDI.PartnerDocuments PX on PS.PartnerDocumentId = PX.PartnerDocumentId\nwhere PS.SubmissionId =  @PartnerSubmissionId",
                        "queryParameters": {
                            "PartnerSubmissionId": "@body('Parse_Message')?['PartnerSubmissionId']"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {
                    "Parse_Message": [
                        "Succeeded"
                    ]
                }
            },
            "Get_OAuth_Token": {
                "type": "Http",
                "inputs": {
                    "uri": "@parameters('KsefAuthUrl')",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/x-www-form-urlencoded"
                    },
                    "body": "grant_type=client_credentials&client_id=@{encodeUriComponent(parameters('KsefClientId'))}&client_secret=@{encodeUriComponent(parameters('KsefClientSecret'))}&scope=@{encodeUriComponent(parameters('KsefScope'))}"
                },
                "runAfter": {
                    "Get_Partner_XML": [
                        "Succeeded"
                    ]
                }
            },
            "Parse_OAuth_Token": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_OAuth_Token')",
                    "schema": {
                        "properties": {
                            "access_token": {
                                "type": "string"
                            },
                            "token_type": {
                                "type": "string"
                            },
                            "expires_in": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Get_OAuth_Token": [
                        "Succeeded"
                    ]
                }
            },
            "POST_to_KSeF_API": {
                "type": "Http",
                "inputs": {
                    "uri": "@parameters('KsefApiUrl')",
                    "method": "POST",
                    "headers": {
                        "Accept": "*/*",
                        "Authorization": "Bearer @{body('Parse_OAuth_Token')?['access_token']}",
                        "Content-Type": "application/x.ksef.invoice+xml",
                        "Prefer": "return=representation",
                        "X-KSEF-SCHEMA": "FA3"
                    },
                    "body": "@body('Get_Partner_XML')?[0]?[0]?['PartnerDocumentData']"
                },
                "runAfter": {
                    "Parse_OAuth_Token": [
                        "Succeeded"
                    ]
                }
            },
            "Check_HTTP_Status": {
                "type": "If",
                "expression": {
                    "or": [
                        {
                            "equals": [
                                "@outputs('POST_to_KSeF_API')['statusCode']",
                                200
                            ]
                        },
                        {
                            "equals": [
                                "@outputs('POST_to_KSeF_API')['statusCode']",
                                201
                            ]
                        },
                        {
                            "equals": [
                                "@outputs('POST_to_KSeF_API')['statusCode']",
                                202
                            ]
                        }
                    ]
                },
                "actions": {
                    "Execute_stored_procedure": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "storedProcedureName": "EDI.UpdatePartnerSubmissionStatus",
                                "storedProcedureParameters": {
                                    "SubmissionId": "@body('Parse_Message')?['PartnerSubmissionId']",
                                    "NewStatusCode": "Submitted",
                                    "PartnerReferenceId": "@body('POST_to_KSeF_API')?['id']"
                                },
                                "includeEmptyResultSets": true
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "sql",
                                "operationId": "executeStoredProcedure",
                                "serviceProviderId": "/serviceProviders/sql"
                            }
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Execute_usp_UpdatePartnerSubmissionStatus_Failed": {
                            "type": "ServiceProvider",
                            "inputs": {
                                "parameters": {
                                    "storedProcedureName": "EDI.UpdatePartnerSubmissionStatus",
                                    "storedProcedureParameters": {
                                        "SubmissionId": "@body('Parse_Message')?['PartnerSubmissionId']",
                                        "NewStatusCode": "SubmissionFailed",
                                        "ErrorMessage": "@substring(string(coalesce(body('POST_to_KSeF_API'), 'No response body')), 0, min(length(string(coalesce(body('POST_to_KSeF_API'), 'No response body'))), 500))"
                                    },
                                    "includeEmptyResultSets": true
                                },
                                "serviceProviderConfiguration": {
                                    "connectionName": "sql",
                                    "operationId": "executeStoredProcedure",
                                    "serviceProviderId": "/serviceProviders/sql"
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "POST_to_KSeF_API": [
                        "Succeeded",
                        "Failed",
                        "TimedOut"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "KsefAuthUrl": {
                "type": "string"
            },
            "KsefClientId": {
                "type": "string"
            },
            "KsefClientSecret": {
                "type": "securestring"
            },
            "KsefScope": {
                "type": "string"
            },
            "KsefApiUrl": {
                "type": "string"
            },
            "ServiceBusQueueName": {
                "type": "string"
            }
        },
        "triggers": {
            "When_message_arrives_in_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "@parameters('ServiceBusQueueName')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}