function.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Parse_CanonicalId": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@string(triggerBody()?[0]?['contentData'])",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "CanonicalId": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Execute_a_SQL_query_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sql"
                        }
                    },
                    "method": "post",
                    "body": {
                        "query": "SELECT CanonicalXML FROM [EDI].[InvoiceCanonicals] WHERE CanonicalId = @{body('Parse_CanonicalId')?['CanonicalId']}"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/query/sql"
                },
                "runAfter": {
                    "Parse_CanonicalId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Check_Row_Exists": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(coalesce(body('Execute_a_SQL_query_(V2)')?['ResultSets']?['Table1'], json('[]')))",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Transform_XML": {
                        "type": "Xslt",
                        "inputs": {
                            "content": "@string(body('Execute_a_SQL_query_(V2)')?['ResultSets']?['Table1']?[0]?['CanonicalXML'])",
                            "map": {
                                "source": "LogicApp",
                                "name": "KsefFa3.xslt"
                            }
                        }
                    },
                    "Complete_Message_Success": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "topicName": "invoice-ready-for-transformation",
                                "subscriptionName": "logicapp-transform",
                                "lockToken": "@triggerBody()?[0]?['lockToken']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "completeTopicMessageV2",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Execute_stored_procedure": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Validate_XML": {
                        "type": "XmlValidation",
                        "inputs": {
                            "content": "@xml(substring(base64ToString(body('Transform_XML')?['$content']),indexOf(base64ToString(body('Transform_XML')?['$content']), '<'),sub(length(base64ToString(body('Transform_XML')?['$content'])),indexOf(base64ToString(body('Transform_XML')?['$content']), '<'))))",
                            "schema": {
                                "source": "LogicApp",
                                "name": "FA(3)_schemat.xsd"
                            }
                        },
                        "runAfter": {
                            "Transform_XML": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Execute_stored_procedure": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "storedProcedureName": "EDI.InsertPartnerXml",
                                "storedProcedureParameters": {
                                    "CanonicalId": "@body('Parse_CanonicalId')?['CanonicalId']",
                                    "PartnerXml": "N'@{substring(base64ToString(body('Transform_XML')?['$content']),indexOf(base64ToString(body('Transform_XML')?['$content']), '<'),sub(length(base64ToString(body('Transform_XML')?['$content'])),indexOf(base64ToString(body('Transform_XML')?['$content']), '<')))}'"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "sql-2",
                                "operationId": "executeStoredProcedure",
                                "serviceProviderId": "/serviceProviders/sql"
                            }
                        },
                        "runAfter": {
                            "Validate_XML": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Terminate_No_Data": {
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Cancelled"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Execute_a_SQL_query_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "invoice-ready-for-transformation",
                        "subscriptionName": "logicapp-transform"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockTopicMessagesV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}