logic-app/TransformToKsefXml/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Parse_CanonicalId": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@string(triggerBody()?[0]?['contentData'])",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "CanonicalId": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Execute_a_SQL_query_(V2)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "SELECT CanonicalData FROM [EDI].[InvoiceCanonicals] WHERE CanonicalId = @CanonicalId",
                        "queryParameters": {
                            "CanonicalId": "@body('Parse_CanonicalId')?['CanonicalId']"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {
                    "Parse_CanonicalId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Check_Row_Exists": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(coalesce(body('Execute_a_SQL_query_(V2)')?[0], json('[]')))",
                                0
                            ]
                        }
                    ]
                },
                "actions": {
                    "Transform_XML": {
                        "type": "Xslt",
                        "inputs": {
                            "content": "@string(body('Execute_a_SQL_query_(V2)')?[0]?[0]?['CanonicalData'])",
                            "map": {
                                "source": "LogicApp",
                                "name": "@parameters('XsltMapName')"
                            }
                        }
                    },
                    "Upsert_PartnerSubmission": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "query": "EXEC [EDI].[InsertPartnerDocument] @CanonicalId = @CanonicalId, @PartnerDocumentData = @PartnerDocumentData",
                                "queryParameters": {
                                    "CanonicalId": "@body('Parse_CanonicalId')?['CanonicalId']",
                                    "PartnerDocumentData": "@string(xml(substring(base64ToString(body('Transform_XML')?['$content']),indexOf(base64ToString(body('Transform_XML')?['$content']), '<'),sub(length(base64ToString(body('Transform_XML')?['$content'])),indexOf(base64ToString(body('Transform_XML')?['$content']), '<')))))"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "sql",
                                "operationId": "executeQuery",
                                "serviceProviderId": "/serviceProviders/sql"
                            }
                        },
                        "runAfter": {
                            "Transform_XML": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Send_Queue_Message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "entityName": "@parameters('ServiceBusQueueName')",
                                "message": {
                                    "contentData": {
                                        "PartnerSubmissionId": "@body('Upsert_PartnerSubmission')?[0]?[0]?['SubmissionId']"
                                    },
                                    "sessionId": "@string(body('Parse_CanonicalId')?['CanonicalId'])",
                                    "messageId": "@guid()",
                                    "correlationId": "@string(body('Parse_CanonicalId')?['CanonicalId'])"
                                },
                                "queueName": "@parameters('ServiceBusQueueName')"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "sendMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Upsert_PartnerSubmission": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Complete_Message_Success": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "topicName": "@parameters('ServiceBusTopicName')",
                                "subscriptionName": "@parameters('ServiceBusSubscriptionName')",
                                "lockToken": "@triggerBody()?[0]?['lockToken']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "completeTopicMessageV2",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Send_Queue_Message": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Terminate_No_Data": {
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Cancelled"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Execute_a_SQL_query_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "ServiceBusTopicName": {
                "type": "string"
            },
            "ServiceBusSubscriptionName": {
                "type": "string"
            },
            "ServiceBusQueueName": {
                "type": "string"
            },
            "XsltMapName": {
                "type": "string"
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "@parameters('ServiceBusTopicName')",
                        "subscriptionName": "@parameters('ServiceBusSubscriptionName')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockTopicMessagesV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}