logic-app/TransformToKsefXml/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "actions": {
            "Parse_CanonicalId": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@string(triggerBody()?[0]?['contentData'])",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "CanonicalId": {
                                "type": "integer"
                            }
                        }
                    }
                },
                "runAfter": {}
            },
            "Execute_a_SQL_query_(V2)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "SELECT CanonicalData FROM [EDI].[InvoiceCanonicals] WHERE CanonicalId = @CanonicalId",
                        "queryParameters": {
                            "CanonicalId": "@body('Parse_CanonicalId')?['CanonicalId']"
                        }
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "sql",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/sql"
                    }
                },
                "runAfter": {
                    "Parse_CanonicalId": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Check_Row_Exists": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@length(coalesce(body('Execute_a_SQL_query_(V2)')?[0], json('[]')))",
                                0
                            ]
                        }
                    ]
                },
                "actions": {

                    "Extract_Header_Fields": {
                        "type": "Compose",
                        "inputs": {
                            "Currency": "@{xpath(xml(string(body('Execute_a_SQL_query_(V2)')?[0]?[0]?['CanonicalData'])), 'string(/CanonicalInvoice/Header/Currency)')}",
                            "IssueDate": "@{xpath(xml(string(body('Execute_a_SQL_query_(V2)')?[0]?[0]?['CanonicalData'])), 'string(/CanonicalInvoice/Header/IssueDate)')}",
                            "ExchangeRate": "@{xpath(xml(string(body('Execute_a_SQL_query_(V2)')?[0]?[0]?['CanonicalData'])), 'string(/CanonicalInvoice/Header/ExchangeRate)')}"
                        },
                        "runAfter": {}
                    },

                    "Check_Needs_FX_Rate": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "not": {
                                        "equals": [
                                            "@outputs('Extract_Header_Fields')?['Currency']",
                                            ""
                                        ]
                                    }
                                },
                                {
                                    "not": {
                                        "equals": [
                                            "@outputs('Extract_Header_Fields')?['Currency']",
                                            "PLN"
                                        ]
                                    }
                                },
                                {
                                    "equals": [
                                        "@outputs('Extract_Header_Fields')?['ExchangeRate']",
                                        ""
                                    ]
                                }
                            ]
                        },
                        "actions": {

                            "Calculate_Preceding_Business_Day": {
                                "type": "Compose",
                                "inputs": "@formatDateTime(if(equals(dayOfWeek(parseDateTime(outputs('Extract_Header_Fields')?['IssueDate'])), 1), addDays(parseDateTime(outputs('Extract_Header_Fields')?['IssueDate']), -3), if(equals(dayOfWeek(parseDateTime(outputs('Extract_Header_Fields')?['IssueDate'])), 0), addDays(parseDateTime(outputs('Extract_Header_Fields')?['IssueDate']), -2), addDays(parseDateTime(outputs('Extract_Header_Fields')?['IssueDate']), -1))), 'yyyy-MM-dd')",
                                "runAfter": {}
                            },

                            "Call_NBP_Rate": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://api.nbp.pl/api/exchangerates/rates/a/@{toLower(outputs('Extract_Header_Fields')?['Currency'])}/@{outputs('Calculate_Preceding_Business_Day')}/?format=json",
                                    "headers": {
                                        "Accept": "application/json"
                                    },
                                    "retryPolicy": {
                                        "type": "none"
                                    }
                                },
                                "runAfter": {
                                    "Calculate_Preceding_Business_Day": [
                                        "Succeeded"
                                    ]
                                }
                            },

                            "Call_NBP_Rate_Fallback": {
                                "type": "Http",
                                "inputs": {
                                    "method": "GET",
                                    "uri": "https://api.nbp.pl/api/exchangerates/rates/a/@{toLower(outputs('Extract_Header_Fields')?['Currency'])}/last/1/?format=json",
                                    "headers": {
                                        "Accept": "application/json"
                                    }
                                },
                                "runAfter": {
                                    "Call_NBP_Rate": [
                                        "Failed",
                                        "TimedOut"
                                    ]
                                }
                            },

                            "Terminate_NBP_Unavailable": {
                                "type": "Terminate",
                                "inputs": {
                                    "runStatus": "Failed",
                                    "runError": {
                                        "code": "NBP_API_UNAVAILABLE",
                                        "message": "@{concat('Cannot determine NBP exchange rate for ', outputs('Extract_Header_Fields')?['Currency'], ' on ', outputs('Calculate_Preceding_Business_Day'), '. Both primary and fallback NBP API calls failed. Cannot produce P_14_xW for KSeF.')}"
                                    }
                                },
                                "runAfter": {
                                    "Call_NBP_Rate_Fallback": [
                                        "Failed",
                                        "TimedOut"
                                    ]
                                }
                            },

                            "Get_Effective_NBP_Rate": {
                                "type": "Compose",
                                "inputs": "@coalesce(body('Call_NBP_Rate')?['rates']?[0]?['mid'], body('Call_NBP_Rate_Fallback')?['rates']?[0]?['mid'])",
                                "runAfter": {
                                    "Call_NBP_Rate": [
                                        "Succeeded",
                                        "Failed",
                                        "TimedOut"
                                    ],
                                    "Call_NBP_Rate_Fallback": [
                                        "Succeeded",
                                        "Skipped"
                                    ]
                                }
                            },

                            "Inject_ExchangeRate_Into_XML": {
                                "type": "Compose",
                                "inputs": "@replace(string(body('Execute_a_SQL_query_(V2)')?[0]?[0]?['CanonicalData']), '</Header>', concat('<ExchangeRate>', string(outputs('Get_Effective_NBP_Rate')), '</ExchangeRate></Header>'))",
                                "runAfter": {
                                    "Get_Effective_NBP_Rate": [
                                        "Succeeded"
                                    ]
                                }
                            }

                        },
                        "else": {
                            "actions": {}
                        },
                        "runAfter": {
                            "Extract_Header_Fields": [
                                "Succeeded"
                            ]
                        }
                    },

                    "Transform_XML": {
                        "type": "Xslt",
                        "inputs": {
                            "content": "@coalesce(outputs('Inject_ExchangeRate_Into_XML'), string(body('Execute_a_SQL_query_(V2)')?[0]?[0]?['CanonicalData']))",
                            "map": {
                                "source": "LogicApp",
                                "name": "@parameters('XsltMapName')"
                            }
                        },
                        "runAfter": {
                            "Check_Needs_FX_Rate": [
                                "Succeeded"
                            ]
                        }
                    },

                    "Upsert_PartnerSubmission": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "query": "EXEC [EDI].[InsertPartnerDocument] @CanonicalId = @CanonicalId, @PartnerDocumentData = @PartnerDocumentData",
                                "queryParameters": {
                                    "CanonicalId": "@body('Parse_CanonicalId')?['CanonicalId']",
                                    "PartnerDocumentData": "@string(xml(substring(base64ToString(body('Transform_XML')?['$content']),indexOf(base64ToString(body('Transform_XML')?['$content']), '<'),sub(length(base64ToString(body('Transform_XML')?['$content'])),indexOf(base64ToString(body('Transform_XML')?['$content']), '<')))))"
                                }
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "sql",
                                "operationId": "executeQuery",
                                "serviceProviderId": "/serviceProviders/sql"
                            }
                        },
                        "runAfter": {
                            "Transform_XML": [
                                "SUCCEEDED"
                            ]
                        }
                    },

                    "Send_Queue_Message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "entityName": "@parameters('ServiceBusQueueName')",
                                "message": {
                                    "contentData": {
                                        "PartnerSubmissionId": "@body('Upsert_PartnerSubmission')?[0]?[0]?['SubmissionId']"
                                    },
                                    "sessionId": "@string(body('Parse_CanonicalId')?['CanonicalId'])",
                                    "messageId": "@guid()",
                                    "correlationId": "@string(body('Parse_CanonicalId')?['CanonicalId'])"
                                },
                                "queueName": "@parameters('ServiceBusQueueName')"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "sendMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Upsert_PartnerSubmission": [
                                "SUCCEEDED"
                            ]
                        }
                    },

                    "Complete_Message_Success": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "topicName": "@parameters('ServiceBusTopicName')",
                                "subscriptionName": "@parameters('ServiceBusSubscriptionName')",
                                "lockToken": "@triggerBody()?[0]?['lockToken']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "completeTopicMessageV2",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Send_Queue_Message": [
                                "SUCCEEDED"
                            ]
                        }
                    }

                },
                "else": {
                    "actions": {
                        "Terminate_No_Data": {
                            "type": "Terminate",
                            "inputs": {
                                "runStatus": "Cancelled"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Execute_a_SQL_query_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "outputs": {},
        "parameters": {
            "ServiceBusTopicName": {
                "type": "string"
            },
            "ServiceBusSubscriptionName": {
                "type": "string"
            },
            "ServiceBusQueueName": {
                "type": "string"
            },
            "XsltMapName": {
                "type": "string"
            }
        },
        "triggers": {
            "When_messages_are_available_in_a_topic_subscription_(peek-lock)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "topicName": "@parameters('ServiceBusTopicName')",
                        "subscriptionName": "@parameters('ServiceBusSubscriptionName')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "peekLockTopicMessagesV2",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}
